.flag{float:left;padding:0 !important;margin:0 5px 0 0;width:16px;height:11px;background:url(../../images/msdropdown/icons/flagssprite_small.png) no-repeat;}
.flag.AD{background-position:0 0}.flag.ae{background-position:0 -11px}
.flag.AF{background-position:0 -22px}
.flag.AG{background-position:0 -33px}
.flag.AI{background-position:0 -44px}
.flag.AL{background-position:0 -55px}
.flag.AM{background-position:0 -66px}
.flag.AN{background-position:0 -77px}
.flag.AO{background-position:0 -88px}
.flag.AR{background-position:0 -99px}
.flag.AS{background-position:0 -110px}
.flag.AT{background-position:0 -121px}
.flag.AU{background-position:0 -132px}
.flag.AW{background-position:0 -143px}
.flag.AX{background-position:0 -154px}
.flag.AZ{background-position:0 -165px}
.flag.BA{background-position:0 -176px}
.flag.BB{background-position:0 -187px}
.flag.BD{background-position:0 -198px}
.flag.BE{background-position:0 -209px}
.flag.BF{background-position:0 -220px}
.flag.BG{background-position:0 -231px}
.flag.BH{background-position:0 -242px}
.flag.BI{background-position:0 -253px}
.flag.BJ{background-position:0 -264px}
.flag.BM{background-position:0 -275px}
.flag.BN{background-position:0 -286px}
.flag.BO{background-position:0 -297px}
.flag.BR{background-position:0 -308px}
.flag.BS{background-position:0 -319px}
.flag.BT{background-position:0 -330px}
.flag.BV{background-position:0 -341px}
.flag.BW{background-position:0 -352px}
.flag.BE{background-position:0 -363px}
.flag.BZ{background-position:0 -374px}
.flag.CA{background-position:0 -385px}
.flag.CATALONA{background-position:0 -396px}
.flag.CC{background-position:0 -407px}
.flag.CD{background-position:0 -418px}
.flag.CF{background-position:0 -429px}
.flag.CG{background-position:0 -440px}
.flag.CH{background-position:0 -451px}
.flag.CI{background-position:0 -462px}
.flag.CK{background-position:0 -473px}
.flag.CL{background-position:0 -484px}
.flag.CM{background-position:0 -495px}
.flag.CN{background-position:0 -506px}
.flag.CO{background-position:0 -517px}
.flag.CU{background-position:0 -528px}
.flag.CR{background-position:0 -539px}
.flag.CS{background-position:0 -550px}
.flag.CV{background-position:0 -561px}
.flag.CX{background-position:0 -572px}
.flag.CY{background-position:-16px 0}
.flag.CZ{background-position:-16px -11px}
.flag.DE{background-position:-16px -22px}
.flag.DJ{background-position:-16px -33px}
.flag.DK{background-position:-16px -44px}
.flag.DM{background-position:-16px -55px}
.flag.DO{background-position:-16px -66px}
.flag.DZ{background-position:-16px -77px}
.flag.EC{background-position:-16px -88px}
.flag.EE{background-position:-16px -99px}
.flag.EG{background-position:-16px -110px}
.flag.EH{background-position:-16px -121px}
.flag.ENGLAND{background-position:-16px -132px}
.flag.ER{background-position:-16px -143px}
.flag.ES{background-position:-16px -154px}
.flag.ET{background-position:-16px -165px}
.flag.EU{background-position:-16px -176px}
.flag.FAM{background-position:-16px -187px}
.flag.FI{background-position:-16px -198px}
.flag.FJ{background-position:-16px -209px}
.flag.FK{background-position:-16px -220px}
.flag.FM{background-position:-16px -231px}
.flag.FX{background-position:-16px -231px}
.flag.FO{background-position:-16px -242px}
.flag.FR{background-position:-16px -253px}
.flag.GA{background-position:-16px -264px}
.flag.GB{background-position:-16px -275px}
.flag.GD{background-position:-16px -286px}
.flag.GE{background-position:-16px -297px}
.flag.GF{background-position:-16px -308px}
.flag.GH{background-position:-16px -319px}
.flag.GI{background-position:-16px -330px}
.flag.GL{background-position:-16px -341px}
.flag.GM{background-position:-16px -352px}
.flag.GN{background-position:-16px -363px}
.flag.GP{background-position:-16px -374px}
.flag.GQ{background-position:-16px -385px}
.flag.GR{background-position:-16px -396px}
.flag.GS{background-position:-16px -407px}
.flag.GT{background-position:-16px -418px}
.flag.GU{background-position:-16px -429px}
.flag.GW{background-position:-16px -440px}
.flag.GY{background-position:-16px -451px}
.flag.HK{background-position:-16px -462px}
.flag.HM{background-position:-16px -473px}
.flag.HN{background-position:-16px -484px}
.flag.HR{background-position:-16px -495px}
.flag.HT{background-position:-16px -506px}
.flag.HU{background-position:-16px -517px}
.flag.ID{background-position:-16px -528px}
.flag.IE{background-position:-16px -539px}
.flag.IL{background-position:-16px -550px}
.flag.IN{background-position:-16px -561px}
.flag.IO{background-position:-16px -572px}
.flag.IQ{background-position:-32px 0}
.flag.IR{background-position:-32px -11px}
.flag.IS{background-position:-32px -22px}
.flag.IT{background-position:-32px -33px}
.flag.JM{background-position:-32px -44px}
.flag.JO{background-position:-32px -55px}
.flag.JP{background-position:-32px -66px}
.flag.KE{background-position:-32px -77px}
.flag.KG{background-position:-32px -88px}
.flag.KH{background-position:-32px -99px}
.flag.KI{background-position:-32px -110px}
.flag.KM{background-position:-32px -121px}
.flag.KN{background-position:-32px -132px}
.flag.KP{background-position:-32px -143px}
.flag.KR{background-position:-32px -154px}
.flag.KW{background-position:-32px -165px}
.flag.KY{background-position:-32px -176px}
.flag.KZ{background-position:-32px -187px}
.flag.LA{background-position:-32px -198px}
.flag.LB{background-position:-32px -209px}
.flag.LC{background-position:-32px -220px}
.flag.LI{background-position:-32px -231px}
.flag.LR{background-position:-32px -242px}
.flag.LK{background-position:-32px -253px}
.flag.LS{background-position:-32px -264px}
.flag.LT{background-position:-32px -275px}
.flag.LU{background-position:-32px -286px}
.flag.LV{background-position:-32px -297px}
.flag.LY{background-position:-32px -308px}
.flag.MA{background-position:-32px -319px}
.flag.MC{background-position:-32px -330px}
.flag.MD{background-position:-32px -341px}
.flag.ME{background-position:-32px -352px}
.flag.MG{background-position:-32px -363px}
.flag.MH{background-position:-32px -374px}
.flag.MK{background-position:-32px -385px}
.flag.ML{background-position:-32px -396px}
.flag.MM{background-position:-32px -407px}
.flag.MN{background-position:-32px -418px}
.flag.MO{background-position:-32px -429px}
.flag.MP{background-position:-32px -440px}
.flag.MQ{background-position:-32px -451px}
.flag.MR{background-position:-32px -462px}
.flag.MS{background-position:-32px -473px}
.flag.MT{background-position:-32px -484px}
.flag.MU{background-position:-32px -495px}
.flag.MV{background-position:-32px -506px}
.flag.MW{background-position:-32px -517px}
.flag.MX{background-position:-32px -528px}
.flag.MY{background-position:-32px -539px}
.flag.MZ{background-position:-32px -550px}
.flag.NA{background-position:-32px -561px}
.flag.NC{background-position:-32px -572px}
.flag.NE{background-position:-48px 0}
.flag.NF{background-position:-48px -11px}
.flag.NG{background-position:-48px -22px}
.flag.NI{background-position:-48px -33px}
.flag.NL{background-position:-48px -44px}
.flag.NO{background-position:-48px -55px}
.flag.NP{background-position:-48px -66px}
.flag.NR{background-position:-48px -77px}
.flag.NU{background-position:-48px -88px}
.flag.NZ{background-position:-48px -99px}
.flag.OM{background-position:-48px -110px}
.flag.PA{background-position:-48px -121px}
.flag.PE{background-position:-48px -132px}
.flag.PF{background-position:-48px -143px}
.flag.PG{background-position:-48px -154px}
.flag.PH{background-position:-48px -165px}
.flag.PK{background-position:-48px -176px}
.flag.PL{background-position:-48px -187px}
.flag.PM{background-position:-48px -198px}
.flag.PN{background-position:-48px -209px}
.flag.PR{background-position:-48px -220px}
.flag.PS{background-position:-48px -231px}
.flag.PT{background-position:-48px -242px}
.flag.PW{background-position:-48px -253px}
.flag.PY{background-position:-48px -264px}
.flag.QA{background-position:-48px -275px}
.flag.RE{background-position:-48px -286px}
.flag.RO{background-position:-48px -297px}
.flag.RS{background-position:-48px -308px}
.flag.RU{background-position:-48px -319px}
.flag.RW{background-position:-48px -330px}
.flag.SA{background-position:-48px -341px}
.flag.SB{background-position:-48px -352px}
.flag.SC{background-position:-48px -363px}
.flag.SCOTLAND{background-position:-48px -374px}
.flag.SD{background-position:-48px -385px}
.flag.SE{background-position:-48px -396px}
.flag.SG{background-position:-48px -407px}
.flag.SH{background-position:-48px -418px}
.flag.SI{background-position:-48px -429px}
.flag.SJ{background-position:-48px -440px}
.flag.SK{background-position:-48px -451px}
.flag.SL{background-position:-48px -462px}
.flag.SM{background-position:-48px -473px}
.flag.SN{background-position:-48px -484px}
.flag.SO{background-position:-48px -495px}
.flag.SR{background-position:-48px -506px}
.flag.ST{background-position:-48px -517px}
.flag.SV{background-position:-48px -528px}
.flag.SY{background-position:-48px -539px}
.flag.SZ{background-position:-48px -550px}
.flag.TC{background-position:-48px -561px}
.flag.TD{background-position:-48px -572px}
.flag.TF{background-position:-64px 0}
.flag.TG{background-position:-64px -11px}
.flag.TH{background-position:-64px -22px}
.flag.TJ{background-position:-64px -33px}
.flag.TK{background-position:-64px -44px}
.flag.TL{background-position:-64px -55px}
.flag.TM{background-position:-64px -66px}
.flag.TN{background-position:-64px -77px}
.flag.TO{background-position:-64px -88px}
.flag.TR{background-position:-64px -99px}
.flag.TT{background-position:-64px -110px}
.flag.TV{background-position:-64px -121px}
.flag.TW{background-position:-64px -132px}
.flag.TZ{background-position:-64px -143px}
.flag.UA{background-position:-64px -154px}
.flag.UG{background-position:-64px -165px}
.flag.UM{background-position:-64px -176px}
.flag.US{background-position:-64px -187px}
.flag.UY{background-position:-64px -198px}
.flag.UZ{background-position:-64px -209px}
.flag.VA{background-position:-64px -220px}
.flag.VC{background-position:-64px -231px}
.flag.VE{background-position:-64px -242px}
.flag.VG{background-position:-64px -253px}
.flag.VI{background-position:-64px -264px}
.flag.VN{background-position:-64px -275px}
.flag.VU{background-position:-64px -286px}
.flag.WALES{background-position:-64px -297px}
.flag.WF{background-position:-64px -308px}
.flag.WS{background-position:-64px -319px}
.flag.YE{background-position:-64px -330px}
.flag.YT{background-position:-64px -341px}
.flag.ZA{background-position:-64px -352px}
.flag.ZM{background-position:-64px -363px}
.flag.ZW{background-position:-64px -374px}